<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <title>Galery</title>
    <body>
        <form method="POST" action="/register" style="margin-top: 8%;">
            <div class="d-flex justify-content-center">
                <div class="card text-center" style="width: 30rem; padding: 15px;">
                    <h5 class="card-title">Sign In</h5>
                    <div class="card-body">
                        <input class="form-control" type="text" name="login" placeholder="login"/>
                        <p></p>
                        <input class="form-control" type="password" name="password" placeholder="password"/>
                        <p></p>
                        <input style="width: 250px; margin-top: 15px;" class="btn btn-outline-info me-2" type="submit" value="Sign Up!"/>
                    </div>
                </div>
            </div>
        </form>

        {% if error %}
        <div class="d-flex justify-content-center" style="margin-top: 1%;">
            <div class="card text-center" style="width: 30rem; padding: 15px;">
                <div class="card-body">
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>