<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TQL CTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='api.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>tqlCTF</h1>
    </header>

    <main>
        <div class="form-container">
            <form id="searchForm" class="styled-form">
                <input type="text" id="searchInput" placeholder="Search for a drink..." required>
                <button type="submit">Find drink</button>
            </form>
            <button id="getAllDrinks" class="styled-button">Get all drinks</button>
        </div>

        <div id="results">
            <h2>Drink List</h2>
            <table id="drinksTable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Brand</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </main>
</body>
</html>
